<p><%= t('.greeting', name: @resource.name) %></p>

<p><%= t('.paragraph1') %></p>

<p><%= t('.paragraph2') %></p>

<p><%= link_to t('.confirm_link'), confirmation_url(@resource, confirmation_token: @token,
  locale: I18n.locale) %></p>

<p><%= t('.paragraph3') %></p>

<p><%= t('.paragraph4') %></p>

<p><%= t('application_mailer.signed') %></p>

<p><%= t('application_mailer.impressum_html') %></p>
