<p><%= t('.greeting', name: @resource.name) %></p>

<p><%= t('.paragraph1') %></p>

<p><%= link_to t('.edit_password_link'), edit_password_url(@resource, reset_password_token: @token,
  locale: I18n.locale) %></p>

<p><%= t('.paragraph2') %></p>

<p><%= t('application_mailer.signed') %></p>

<p><%= t('application_mailer.impressum_html') %></p>
