<footer class="c-page-foot">
  <div class="o-wrapper o-wrapper--wide">
    <div class="o-layout">
      <nav class="o-layout__item u-1/2 u-1/4@l">
        <i class="c-page-foot__icon">
          <span class="fa fa-info"></span>
        </i>
        <ul class="o-list-bare">
          <li>
            <%= link_to t('.terms_link'), terms_path(locale: I18n.locale) %>
          </li>
          <li>
            <%= link_to t('.privacy_link'), privacy_path(locale: I18n.locale) %>
          </li>
          <li>
            <%= link_to t('.impressum_link'), impressum_path(locale: I18n.locale) %>
          </li>
        </ul>
      </nav><!--
      --><nav class="o-layout__item u-1/2 u-1/4@l">
        <i class="c-page-foot__icon">
          <span class="fa fa-question"></span>
        </i>
        <ul class="o-list-bare">
          <li>
            <%= link_to t('.howitworks_link'), howitworks_path(locale: I18n.locale) %>
          </li>
          <li>
            <%= link_to t('.faq_link'), faq_path(locale: I18n.locale) %>
          </li>
        </ul>
      </nav><!--
      --><nav class="o-layout__item u-1/2 u-1/4@l">
        <i class="c-page-foot__icon">
          <span class="fa fa-home"></span>
        </i>
        <ul class="o-list-bare">
          <li>
            <%= link_to t('.contact_link'), contact_path(locale: I18n.locale) %>
          </li>
          <li>
            <%= link_to t('.newsletter_link'), 'http://seu1.cleverreach.com/f/66295-182181', :target => "_blank"  %>
          </li>
        </ul>
        <ul class="c-social-media u-mt">
          <li>
            <a class="c-social-media__button" href="https://www.facebook.com/Buntundverbindlichde-895164520594209/" title="<%= t('.facebook_title') %>">
              <span class="fa fa-facebook"></span>
            </a>
          </li><!--
          --><li>
            <a class="c-social-media__button" href="https://twitter.com/buntverbindlich" title="<%= t('.twitter_title') %>">
              <span class="fa fa-twitter"></span>
            </a>
          </li>
        </ul>
      </nav><!--
      --><nav class="o-layout__item u-1/2 u-1/4@l">
        <i class="c-page-foot__icon">
          <span class="fa fa-users"></span>
        </i>
        <ul class="o-list-bare">
          <li class="u-mb">
            <a href="http://www.initiatived21.de/" target="_blank">
              <img class="c-page-foot__image c-page-foot__logo-d21"
                src="/images/d21-logo.png"
                alt="<%= t('.logo_d21_title') %>">
            </a>
          </li>
          <li>
            <a href="http://www.bmfsfj.de/" target="_blank">
              <img class="c-page-foot__image c-page-foot__logo-bmfsfj"
                src="/images/bmfsfj-logo.png"
                alt="<%= t('.logo_bmfsfj_title') %>">
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

</footer>
