<footer class="c-page-foot">
  <div class="o-wrapper o-wrapper--wide">
    <div class="o-layout">
      <nav class="o-layout__item u-1/2 u-1/4@l">
        <i class="c-page-foot__icon">
          <span class="fa fa-info"></span>
        </i>
        <ul class="o-list-bare">
          <li>
            <%= link_to t('.terms_link'), terms_path(locale: I18n.locale) %>
          </li>
          <li>
            <%= link_to t('.privacy_link'), privacy_path(locale: I18n.locale) %>
          </li>
          <li>
            <%= link_to t('.impressum_link'), impressum_path(locale: I18n.locale) %>
          </li>
          <li>
            <%= link_to t('.sitemap_link'), sitemap_path(locale: I18n.locale) %>
          </li>
        </ul>
      </nav><!--
      --><nav class="o-layout__item u-1/2 u-1/4@l">
        <i class="c-page-foot__icon">
          <span class="fa fa-question"></span>
        </i>
        <ul class="o-list-bare">
          <li>
            <%= link_to t('.howitworks_link'), howitworks_path(locale: I18n.locale) %>
          </li>
          <li>
            <%= link_to t('.faq_link'), faq_path(locale: I18n.locale) %>
          </li>
        </ul>
      </nav><!--
      --><nav class="o-layout__item u-1/2 u-1/4@l">
        <i class="c-page-foot__icon">
          <span class="fa fa-home"></span>
        </i>
        <ul class="o-list-bare">
          <li>
            <%= link_to t('.contact_link'), contact_path(locale: I18n.locale) %>
          </li>
          <li>
            <%= link_to t('.newsletter_link'), 'http://seu1.cleverreach.com/f/66295-182181', :target => "_blank"  %>
          </li>
        </ul>
        <ul class="c-social-media u-mt">
          <li>
            <a class="c-social-media__button" href="https://www.facebook.com/Buntundverbindlichde-895164520594209/" title="<%= t('.facebook_title') %>">
              <span class="fa fa-facebook"></span>
            </a>
          </li><!--
          --><li>
            <a class="c-social-media__button" href="https://twitter.com/buntverbindlich" title="<%= t('.twitter_title') %>">
              <span class="fa fa-twitter"></span>
            </a>
          </li>
        </ul>
      </nav><!--
      --><nav class="o-layout__item u-1/2 u-1/4@l">
        <i class="c-page-foot__icon">
          <span class="fa fa-users"></span>
        </i>
        <ul class="o-list-bare">
          <li class="u-mb-large">
            <a href="http://www.initiatived21.de/" target="_blank">
              <svg class="c-page-foot__image" xmlns="http://www.w3.org/2000/svg" width="200" height="37" viewBox="0 0 163 30" xmlns:xlink="http://www.w3.org/1999/xlink">
                <title><%= t('.logo_d21_title') %></title>
                <defs>
                  <path id="d21-a" d="M0 29.586h162.988V1H0z"/>
                </defs>
                <g fill="none" fill-rule="evenodd">
                  <path fill="#E30023" d="M138.737 3.906h13.113v1.407h-10.127c-.9 0-1.548.316-2.196 1.138-.506.617-.711 1.2-.711 1.991v4.06h15.736V9.706l-12.75-.032V8.125h10.554c.553 0 1.423-.52 1.88-1.137.332-.459.569-1.185.569-1.675V3.64c0-.443-.394-1.249-.853-1.723-.537-.553-1.043-.805-1.643-.805h-13.572v2.795zM155.752 3.798l2.07 2.196 2.21-2.196v8.705h2.956V3.955c0-1.628-1.28-2.955-2.875-2.955-.87 0-1.753.349-2.37.934l-1.991 1.864z"/>
                  <mask id="d21-b" fill="#fff">
                    <use xlink:href="#d21-a"/>
                  </mask>
                  <path fill="#E30023" d="M123.974 9.659h10.283V3.963h-10.283v5.696zm12.83-6.534a4.617 4.617 0 0 0-1.06-1.218c-.664-.57-1.471-.808-2.579-.808h-9.191v-.001h-2.959v11.409h12.087c1.376 0 2.136-.254 2.943-.981.822-.743 1.17-1.535 1.17-2.674v-4.13c0-.648-.126-1.107-.411-1.597z" mask="url(#d21-b)"/>
                  <path fill="#BBC5CB" mask="url(#d21-b)" d="M.096 12.498h2.853v-11H.096zM5.344 12.497h2.853V4.273l7.598 7.415c.702.686 1.556 1.083 2.334 1.083 1.16 0 2.213-.732 2.594-1.785.153-.412.214-.869.214-1.357V1.497h-2.854v8.314L10.5 2.351c-.748-.717-1.511-1.068-2.35-1.068-1.541 0-2.807 1.16-2.807 2.548v8.666zM23.317 12.498h2.853v-11h-2.853zM27.603 4.243h6.377v8.255h2.853V4.243h6.393V1.497H27.603zM44.798 12.498h2.853v-11h-2.853zM62.665 4.243h6.378v8.255h2.853V4.243h6.392V1.497H62.665zM80.013 12.498h2.853v-11h-2.853zM84.33 1.497l4.546 8.574c.184.35.336.625.458.824.35.564.702.992 1.145 1.328.427.32.9.487 1.479.487.809 0 1.45-.29 2.045-.915.366-.381.534-.641.9-1.342l4.837-8.956h-3.25l-4.501 8.36-4.41-8.36h-3.25zm31.585 11V9.735h-12.77V8.47l12.77-.046V5.585h-12.77V4.242h12.77V1.497H104.26c-1.328 0-2.06.243-2.838.946-.793.716-1.129 1.48-1.129 2.578v3.981c0 .627.122 1.07.396 1.541.26.443.641.87 1.023 1.176.641.55 1.418.778 2.487.778h11.717zM61.54 12.48l-1.452-2.754h-5.977l-1.48 2.754h-3.25l4.835-8.956c.367-.702.534-.962.901-1.343.594-.626 1.235-.915 2.044-.915.58 0 1.053.168 1.48.488.442.335.793.763 1.144 1.327.122.199.275.473.458.824l4.547 8.575h-3.25zm-2.9-5.5l-1.51-2.863-1.54 2.863h3.05z"/>
                  <path fill="#575656" d="M5.864 27.06h-.996L.764 20.757h-.04c.054.74.081 1.418.081 2.034v4.267H0v-7.507h.985l4.093 6.275h.041c-.007-.093-.023-.39-.046-.89a14.63 14.63 0 0 1-.025-1.077v-4.308h.816v7.507zm4.081-5.017c-.45 0-.812.147-1.08.44-.27.296-.428.704-.476 1.223h2.943c0-.537-.12-.948-.36-1.234-.24-.286-.582-.43-1.027-.43m.231 5.12c-.832 0-1.488-.253-1.969-.76-.48-.506-.72-1.21-.72-2.11 0-.907.222-1.628.67-2.162.445-.534 1.046-.801 1.8-.801.704 0 1.261.233 1.673.695.411.465.616 1.077.616 1.836v.539H8.37c.017.662.183 1.163.501 1.505.316.343.763.514 1.337.514.606 0 1.205-.127 1.798-.38v.76c-.302.13-.587.224-.856.279a4.76 4.76 0 0 1-.973.085m5.34-.703a2.965 2.965 0 0 0 .77-.103v.652a1.5 1.5 0 0 1-.408.11c-.18.029-.34.044-.484.044-1.09 0-1.633-.573-1.633-1.72v-3.348h-.807v-.41l.807-.355.36-1.201h.492v1.304h1.633v.662h-1.633v3.312c0 .339.08.599.24.78.162.182.383.273.664.273M21.011 27.059h-4.082v-.58l3.07-4.386h-2.88v-.662h3.815v.662l-3.029 4.304h3.106zM26.926 27.06l-1.031-3.303a25.47 25.47 0 0 1-.365-1.376h-.041a18.667 18.667 0 0 1-.36 1.387l-1.062 3.291h-.987l-1.535-5.628h.894c.362 1.414.638 2.49.829 3.23.19.74.299 1.238.326 1.495h.04c.038-.196.1-.449.184-.758.083-.31.156-.556.217-.737l1.033-3.23h.923l1.007 3.23c.192.588.322 1.084.39 1.484h.042c.014-.123.05-.314.11-.57.06-.256.416-1.638 1.07-4.144h.883l-1.555 5.628h-1.012zm5.73-5.017c-.45 0-.812.147-1.08.44-.27.296-.428.704-.476 1.223h2.943c0-.537-.12-.948-.36-1.234-.24-.286-.582-.43-1.027-.43m.231 5.12c-.832 0-1.488-.253-1.969-.76-.48-.506-.72-1.21-.72-2.11 0-.907.222-1.628.67-2.162.445-.534 1.046-.801 1.8-.801.704 0 1.261.233 1.673.695.411.465.616 1.077.616 1.836v.539H31.08c.017.662.183 1.163.501 1.505.316.343.763.514 1.337.514.606 0 1.205-.127 1.798-.38v.76c-.302.13-.587.224-.856.279a4.76 4.76 0 0 1-.973.085m6.09-5.833c.25 0 .475.02.673.062l-.118.79a2.87 2.87 0 0 0-.617-.077c-.455 0-.844.185-1.167.555-.324.369-.486.83-.486 1.38v3.02h-.852v-5.627h.704l.097 1.043h.04c.21-.367.46-.65.756-.848a1.7 1.7 0 0 1 .97-.298m2.568 2.85c.146-.21.37-.483.673-.822l1.817-1.926h1.012l-2.28 2.398 2.439 3.23h-1.032l-1.987-2.66-.642.554v2.106h-.843v-7.99h.843v4.236c0 .188-.014.48-.041.873h.04zm9.945-2.086h-1.433v4.966h-.852v-4.966h-1.007v-.385l1.007-.307v-.314c0-1.383.604-2.074 1.812-2.074.298 0 .648.06 1.048.18l-.22.682c-.33-.106-.61-.159-.843-.159-.322 0-.56.107-.713.321-.154.214-.232.557-.232 1.03v.364h1.433v.662zm3.836-2.186c0-.18.045-.307.136-.386a.484.484 0 0 1 .326-.118c.126 0 .236.04.331.118.094.079.142.207.142.386 0 .17-.048.298-.142.382a.484.484 0 0 1-.33.126.463.463 0 0 1-.327-.126c-.09-.084-.136-.211-.136-.382zm-1.957 0c0-.18.046-.307.137-.386a.481.481 0 0 1 .325-.118c.131 0 .242.04.337.118.094.079.14.207.14.386 0 .17-.046.298-.14.382a.49.49 0 0 1-.337.126.46.46 0 0 1-.325-.126c-.09-.084-.137-.211-.137-.382zm-.05 1.524v3.652c0 .458.104.8.312 1.026.21.227.536.339.981.339.59 0 1.02-.16 1.291-.482.273-.322.408-.848.408-1.577V21.43h.853v5.628h-.703l-.124-.755h-.046c-.175.278-.417.49-.727.637a2.427 2.427 0 0 1-1.06.22c-.685 0-1.198-.161-1.538-.486-.34-.326-.51-.846-.51-1.562V21.43h.862zm8.22-.102c.25 0 .474.02.672.062l-.118.79a2.87 2.87 0 0 0-.617-.077c-.455 0-.844.185-1.167.555-.324.369-.486.83-.486 1.38v3.02h-.852v-5.627h.704l.097 1.043h.041c.21-.367.46-.65.755-.848a1.7 1.7 0 0 1 .97-.298m6.583 5.119c.582 0 1.004-.158 1.266-.475.262-.316.393-.827.393-1.533v-.18c0-.796-.133-1.366-.398-1.707-.266-.34-.689-.51-1.27-.51-.5 0-.884.194-1.148.583-.266.388-.399.936-.399 1.645 0 .719.132 1.262.396 1.628.264.366.65.549 1.16.549zm1.705-.144h-.046c-.394.573-.982.858-1.766.858-.737 0-1.309-.251-1.718-.755-.409-.503-.613-1.22-.613-2.147 0-.927.205-1.647.616-2.161.41-.513.982-.77 1.715-.77.762 0 1.348.277 1.755.832h.067l-.035-.406-.02-.395v-2.291h.851v7.99h-.693l-.113-.755zm2.613.756h.853v-5.628h-.853v5.628zm-.071-7.153c0-.195.048-.34.144-.43a.504.504 0 0 1 .359-.135c.137 0 .255.046.355.139.099.092.148.234.148.426 0 .192-.049.334-.148.429a.5.5 0 0 1-.355.14.492.492 0 0 1-.359-.14c-.096-.095-.144-.237-.144-.43zm3.313 3.327c0 .394.11.691.333.894.223.202.532.302.93.302.832 0 1.248-.404 1.248-1.212 0-.845-.421-1.268-1.264-1.268-.4 0-.708.108-.924.323-.216.216-.323.536-.323.961zm-.463 4.77c0 .304.129.536.386.693.257.158.624.236 1.103.236.716 0 1.245-.106 1.59-.32.344-.215.516-.505.516-.871 0-.305-.094-.516-.282-.634-.19-.118-.543-.177-1.064-.177h-1.021c-.387 0-.69.092-.904.277-.215.185-.324.45-.324.796zm4.488-6.573v.539l-1.042.123c.096.12.18.278.256.471.075.193.114.411.114.654 0 .551-.19.992-.565 1.32-.377.329-.893.493-1.551.493-.168 0-.325-.014-.472-.041-.364.191-.544.432-.544.723 0 .155.062.269.189.342.127.074.345.111.652.111h.997c.609 0 1.077.129 1.404.384.327.257.49.63.49 1.121 0 .623-.25 1.097-.75 1.424-.5.327-1.228.491-2.186.491-.737 0-1.304-.137-1.703-.412-.4-.273-.598-.66-.598-1.16 0-.343.109-.638.329-.888.219-.249.526-.419.924-.508a.903.903 0 0 1-.363-.303.81.81 0 0 1-.146-.477c0-.207.056-.386.165-.541.109-.153.282-.302.519-.446a1.513 1.513 0 0 1-.711-.611 1.787 1.787 0 0 1-.276-.985c0-.617.186-1.092.555-1.425.37-.334.893-.501 1.57-.501.296 0 .56.034.797.102h1.946zm1.155 5.629h.853v-5.628h-.853v5.628zm-.071-7.153c0-.195.048-.34.144-.43a.503.503 0 0 1 .359-.135c.137 0 .255.046.354.139.1.092.149.234.149.426 0 .192-.049.334-.149.429a.496.496 0 0 1-.354.14.49.49 0 0 1-.359-.14c-.096-.095-.144-.237-.144-.43zm4.55 6.552a2.965 2.965 0 0 0 .77-.103v.652a1.5 1.5 0 0 1-.41.11c-.178.029-.34.044-.483.044-1.09 0-1.633-.573-1.633-1.72v-3.348h-.807v-.41l.807-.355.36-1.201h.492v1.304h1.633v.662h-1.633v3.312c0 .339.08.599.24.78.162.182.383.273.664.273m3.43 0c.53 0 .948-.146 1.25-.437.303-.291.455-.698.455-1.222v-.508l-.852.036c-.678.024-1.166.129-1.467.316-.3.186-.449.476-.449.87 0 .308.094.543.28.704.187.16.448.24.784.24zm1.925.6l-.168-.8h-.041c-.282.352-.562.59-.84.716-.28.125-.627.187-1.046.187-.557 0-.994-.143-1.31-.432-.319-.287-.477-.696-.477-1.226 0-1.137.91-1.733 2.727-1.787l.956-.031v-.35c0-.44-.096-.767-.286-.978-.19-.21-.493-.315-.911-.315-.469 0-1 .144-1.592.432l-.261-.653c.276-.15.58-.268.91-.354.332-.086.663-.128.995-.128.67 0 1.168.148 1.49.446.325.298.487.776.487 1.433v3.84h-.633zM93.083 27.06h.853v-7.99h-.853zM97.89 22.043c-.451 0-.812.147-1.081.44-.27.296-.427.704-.475 1.223h2.943c0-.537-.12-.948-.36-1.234-.24-.286-.582-.43-1.027-.43m.23 5.12c-.831 0-1.487-.253-1.968-.76-.481-.506-.721-1.21-.721-2.11 0-.907.223-1.628.67-2.162.446-.534 1.047-.801 1.8-.801.705 0 1.262.233 1.674.695.41.465.616 1.077.616 1.836v.539h-3.877c.017.662.183 1.163.5 1.505.317.343.764.514 1.338.514.606 0 1.205-.127 1.798-.38v.76c-.302.13-.587.224-.856.279a4.76 4.76 0 0 1-.973.085m9.685-4.036h2.552v3.65a8.054 8.054 0 0 1-1.212.288c-.41.066-.887.098-1.428.098-1.136 0-2.021-.338-2.654-1.014-.634-.676-.95-1.624-.95-2.842 0-.781.157-1.464.469-2.051a3.186 3.186 0 0 1 1.354-1.346c.589-.31 1.278-.465 2.069-.465.8 0 1.547.148 2.238.442l-.338.77c-.678-.287-1.33-.43-1.956-.43-.915 0-1.628.27-2.142.816-.513.544-.77 1.299-.77 2.264 0 1.013.247 1.782.742 2.305.495.525 1.22.786 2.18.786.52 0 1.029-.06 1.525-.18v-2.31h-1.68v-.781zm6.372-1.083c-.451 0-.812.147-1.081.44-.27.296-.427.704-.475 1.223h2.943c0-.537-.12-.948-.36-1.234-.24-.286-.582-.43-1.027-.43m.23 5.12c-.831 0-1.487-.253-1.968-.76-.481-.506-.721-1.21-.721-2.11 0-.907.223-1.628.67-2.162.446-.534 1.047-.801 1.8-.801.705 0 1.262.233 1.674.695.41.465.616 1.077.616 1.836v.539h-3.877c.017.662.183 1.163.5 1.505.317.343.764.514 1.338.514.606 0 1.205-.127 1.798-.38v.76c-.302.13-.587.224-.856.279a4.76 4.76 0 0 1-.973.085m7.152-1.638c0 .523-.195.928-.586 1.212-.39.284-.936.426-1.642.426-.746 0-1.329-.118-1.746-.355v-.79c.27.137.56.244.87.323.31.08.609.12.897.12.445 0 .787-.073 1.026-.214.24-.143.36-.36.36-.65 0-.219-.096-.407-.284-.562-.192-.156-.562-.34-1.114-.553-.522-.194-.894-.365-1.115-.51a1.508 1.508 0 0 1-.493-.496 1.289 1.289 0 0 1-.162-.662c0-.459.185-.82.558-1.086.374-.265.886-.398 1.537-.398.605 0 1.198.123 1.776.37l-.302.692c-.566-.232-1.078-.348-1.535-.348-.404 0-.71.063-.914.19-.206.126-.31.301-.31.523 0 .151.04.28.117.385.077.107.2.207.373.303.17.097.499.234.984.416.669.243 1.12.488 1.354.734.235.247.352.557.352.93m3.532-3.481c-.451 0-.812.147-1.081.44-.27.296-.427.704-.475 1.223h2.943c0-.537-.12-.948-.36-1.234-.24-.286-.582-.43-1.027-.43m.23 5.12c-.831 0-1.487-.253-1.968-.76-.481-.506-.721-1.21-.721-2.11 0-.907.223-1.628.67-2.162.446-.534 1.047-.801 1.8-.801.705 0 1.262.233 1.674.695.41.465.616 1.077.616 1.836v.539h-3.877c.017.662.183 1.163.5 1.505.317.343.764.514 1.338.514.606 0 1.205-.127 1.798-.38v.76c-.302.13-.587.224-.856.279a4.76 4.76 0 0 1-.973.085M128.846 27.06h.853v-7.99h-.853zM131.506 27.06h.853v-7.99h-.853zM137.798 25.524c0 .523-.195.928-.586 1.212-.39.284-.937.426-1.643.426-.746 0-1.328-.118-1.746-.355v-.79c.27.137.56.244.87.323.31.08.609.12.897.12.445 0 .787-.073 1.027-.214.24-.143.36-.36.36-.65 0-.219-.096-.407-.285-.562-.191-.156-.561-.34-1.113-.553-.523-.194-.895-.365-1.116-.51a1.508 1.508 0 0 1-.493-.496 1.289 1.289 0 0 1-.162-.662c0-.459.186-.82.559-1.086.374-.265.886-.398 1.536-.398.606 0 1.198.123 1.777.37l-.303.692c-.565-.232-1.077-.348-1.535-.348-.404 0-.71.063-.914.19-.206.126-.31.301-.31.523 0 .151.04.28.117.385.077.107.2.207.373.303.17.097.499.234.985.416.668.243 1.119.488 1.353.734.235.247.352.557.352.93m3.635 1.638c-.814 0-1.445-.251-1.892-.752-.447-.502-.67-1.211-.67-2.13 0-.94.227-1.667.68-2.18.454-.514 1.1-.771 1.939-.771.27 0 .54.029.81.087.272.059.484.127.638.206l-.262.724a3.944 3.944 0 0 0-.616-.188 2.734 2.734 0 0 0-.591-.074c-1.143 0-1.715.729-1.715 2.187 0 .692.14 1.222.419 1.592.279.369.693.555 1.239.555.47 0 .95-.102 1.444-.303v.754c-.377.195-.851.293-1.423.293m6.609-.103v-3.64c0-.46-.104-.8-.313-1.028-.209-.226-.536-.339-.981-.339-.593 0-1.024.161-1.297.484-.271.321-.408.848-.408 1.581v2.942h-.853v-7.99h.853v2.42c0 .29-.014.531-.041.722h.052c.167-.269.406-.483.716-.638a2.31 2.31 0 0 1 1.06-.234c.689 0 1.204.163 1.548.491.345.326.517.845.517 1.557v3.672h-.853zm4.139-.6c.53 0 .947-.146 1.25-.437.303-.291.454-.698.454-1.222v-.508l-.852.036c-.678.024-1.166.129-1.466.316-.3.186-.45.476-.45.87 0 .308.094.543.28.704.187.16.448.24.784.24zm1.925.6l-.17-.8h-.04c-.281.352-.561.59-.84.716-.28.125-.627.187-1.045.187-.558 0-.995-.143-1.311-.432-.318-.287-.476-.696-.476-1.226 0-1.137.909-1.733 2.727-1.787l.955-.031v-.35c0-.44-.095-.767-.286-.978-.19-.21-.493-.315-.911-.315-.468 0-1 .144-1.591.432l-.262-.653c.277-.15.58-.268.91-.354.332-.086.663-.128.995-.128.67 0 1.168.148 1.49.446.325.298.487.776.487 1.433v3.84h-.632zm4.924-4.966h-1.433v4.966h-.852v-4.966h-1.007v-.385l1.007-.307v-.314c0-1.383.604-2.074 1.812-2.074.298 0 .648.06 1.048.18l-.22.682c-.33-.106-.61-.159-.843-.159-.322 0-.56.107-.713.321-.154.214-.232.557-.232 1.03v.364h1.433v.662zm2.845 4.366a2.965 2.965 0 0 0 .77-.103v.652a1.5 1.5 0 0 1-.409.11c-.179.029-.34.044-.484.044-1.089 0-1.633-.573-1.633-1.72v-3.348h-.807v-.41l.807-.355.36-1.201h.492v1.304h1.633v.662h-1.633v3.312c0 .339.081.599.241.78.161.182.382.273.663.273" mask="url(#d21-b)"/>
                </g>
              </svg>
            </a>
          </li>
          <li>
            <a href="http://www.bmfsfj.de/" target="_blank">
              <img class="c-page-foot__image c-page-foot__logo-bmfsfj"
                src="/images/bmfsfj-logo.png"
                alt="<%= t('.logo_bmfsfj_title') %>">
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>

</footer>
