<header class="c-page-head">
  <div class="o-wrapper">

    <nav class="c-secondary-nav u-tr">
      <ul class="c-secondary-nav__info o-list-inline o-list-inline--delimited">
        <li class="c-secondary-nav__item">
          <%= link_to t('.contact_link'), contact_path(locale: I18n.locale),
            class: 'c-secondary-nav__link' %>
        </li><!--
        --><li class="c-secondary-nav__item">
          <%= link_to t('.faq_link'), faq_path(locale: I18n.locale),
            class: 'c-secondary-nav__link' %>
        </li><!--
        --><li class="c-secondary-nav__item">
          <%= link_to t('.newsletter_link'), '',
            class: 'c-secondary-nav__link' %>
        </li>
      </ul>


      <ul class="c-secondary-nav__lang o-list-inline">
        <!--
        <% I18n.available_locales.each do |locale| %>
          --><li class="c-secondary-nav__item<%= locale == I18n.locale ? ' c-secondary-nav__item--active' : '' %>">
            <%= link_to locale.to_s, { locale: locale, action: params['action'] },
              class: 'c-secondary-nav__link' %>
          </li><!--
        <% end %>
        -->
      </ul>

      <%= react_component(
        'UserSession',
        ReactHelper.settings({
          currentUser: current_user, authToken: form_authenticity_token
        }, params, { class: 'c-sign-in__toggle' }))
      %>
    </nav>

      <div class="c-page-head__main">

      <a class="c-page-head__logo u-fl" href="<%= home_path(locale: I18n.locale) %>">
        <svg xmlns="http://www.w3.org/2000/svg" width="417" height="76" viewBox="0 0 417 76" xmlns:xlink="http://www.w3.org/1999/xlink">
          <title><%= t('.logo_title') %></title>
          <defs>
            <path id="buv-a" d="M0 69.992h413.001V.001H0z"/>
          </defs>
          <g fill="none" fill-rule="evenodd" transform="translate(2 3)">
            <path fill="#3C3B3B" d="M100.908 54.32h2.847c1.137 0 1.981-.242 2.531-.723.552-.48.828-1.322.828-2.53 0-1.189-.289-2.004-.864-2.444-.576-.44-1.447-.66-2.617-.66h-2.725v6.356zm-1.778 8.066V46.57h4.552c1.689 0 2.985.35 3.895 1.05.908.7 1.362 1.852 1.362 3.447 0 3.097-1.663 4.646-4.988 4.646h-3.043v6.673H99.13z"/>
            <mask id="buv-b" fill="#fff">
              <use xlink:href="#buv-a"/>
            </mask>
            <path fill="#3C3B3B" mask="url(#buv-b)" d="M115.609 62.386h1.582V46.324h-1.582zM125.367 59.404c0 .62.223 1.11.67 1.467.445.359 1.066.538 1.861.538 1.331 0 2.279-.496 2.847-1.492v-3.128h-.753c-1.72 0-2.922.204-3.603.61-.68.41-1.022 1.077-1.022 2.005m-1.68.05c0-1.239.438-2.193 1.315-2.862.877-.668 2.426-1.001 4.648-1.001h1.072v-.856c0-1.694-.74-2.542-2.216-2.542-1.2 0-2.466.326-3.796.977l-.56-1.367c1.51-.571 2.97-.858 4.382-.858 1.184 0 2.113.303 2.785.905.674.604 1.01 1.5 1.01 2.69v4.425c0 .146.114 1.287.341 3.421h-1.41c0-.05-.066-.255-.195-.624-.13-.366-.203-.598-.22-.694-.308.44-.739.813-1.289 1.123-.552.31-1.16.465-1.827.465-1.2 0-2.173-.266-2.92-.795-.746-.529-1.12-1.331-1.12-2.408m14.531-6.992v-1.247h1.68v-2.86h1.581v2.86h2.557v1.247h-2.557v7.236c0 .831.24 1.451.718 1.858.479.407 1.238.684 2.277.832l-.512 1.442c-1.331-.26-2.341-.75-3.03-1.466-.69-.719-1.034-1.614-1.034-2.69V52.46h-1.68zm9.834 0v-1.247h1.68v-2.86h1.581v2.86h2.557v1.247h-2.557v7.236c0 .831.24 1.451.717 1.858.48.407 1.239.684 2.277.832l-.512 1.442c-1.33-.26-2.34-.75-3.029-1.466-.69-.719-1.035-1.614-1.035-2.69V52.46h-1.68zm9.833 0v-1.247h1.68v-1.173c0-1.189.441-2.14 1.325-2.849a5.334 5.334 0 0 1 3.007-1.185l.414 1.37c-1.007.065-1.785.313-2.337.746-.552.43-.828 1.023-.828 1.77v1.321h2.532v1.247h-2.532v9.926h-1.581V52.46h-1.68zm12.875 4.279c0 3.113 1.087 4.669 3.26 4.669 1.185 0 2.022-.403 2.509-1.211.486-.807.73-1.96.73-3.458 0-1.467-.244-2.592-.73-3.374-.487-.783-1.324-1.173-2.508-1.173-2.174 0-3.261 1.515-3.261 4.547m-1.656 0c0-1.711.39-3.106 1.17-4.18.778-1.077 2.027-1.615 3.747-1.615 3.261 0 4.892 1.932 4.892 5.795 0 1.776-.382 3.206-1.144 4.29-.763 1.084-2.012 1.626-3.748 1.626-1.736 0-2.99-.538-3.76-1.614-.77-1.076-1.157-2.51-1.157-4.302m16.089-5.525h1.387l.342 2.274c.875-1.696 1.815-2.542 2.821-2.542.763 0 1.427.178 1.996.536l-.56 1.344c-.486-.423-1.069-.635-1.752-.635-.26 0-.503.07-.73.208-.227.139-.434.35-.62.637a16.75 16.75 0 0 0-.45.72 7.26 7.26 0 0 0-.391.819c-.146.35-.227.534-.242.55v7.26h-1.581v-8.678a15.236 15.236 0 0 0-.134-1.882c-.043-.294-.07-.498-.086-.611m11.999 0h1.387l.365 1.661c.325-.472.763-.912 1.313-1.32a2.975 2.975 0 0 1 1.803-.61c.924 0 1.641.187 2.153.562.51.374.928.929 1.253 1.662a5.68 5.68 0 0 1 1.447-1.565 3.254 3.254 0 0 1 1.985-.658c1.298 0 2.264.344 2.896 1.037.634.693.95 1.78.95 3.263v7.139h-1.582v-7.09c0-.96-.17-1.72-.512-2.272-.34-.554-.98-.832-1.92-.832-.65 0-1.243.254-1.778.759a4.32 4.32 0 0 0-1.144 1.734v7.7h-1.582v-7.089c0-2.068-.804-3.104-2.411-3.104-.616 0-1.188.248-1.714.746-.529.496-.897 1.03-1.108 1.602v7.846h-1.582V53.78c0-.05-.074-.905-.22-2.566m30.861 1.246v-1.247h1.68v-1.173c0-1.189.44-2.14 1.325-2.849a5.334 5.334 0 0 1 3.007-1.185l.414 1.37c-1.008.065-1.785.313-2.337.746-.552.43-.828 1.023-.828 1.77v1.321h2.531v1.247h-2.53v9.926h-1.582V52.46h-1.68zm16.989-3.617h1.583V47.06h-1.583v1.785zm-3.675 0h1.581V47.06h-1.581v1.785zm-1.533 9.411v-7.04h1.582v6.942c0 .67.049 1.215.145 1.638.098.425.329.799.694 1.125.365.326.88.489 1.545.489.664 0 1.233-.241 1.705-.722a4.935 4.935 0 0 0 1.071-1.65v-7.822h1.582v8.8c0 .36.036.8.109 1.32.072.522.118.873.134 1.051h-1.387l-.365-1.661a3.42 3.42 0 0 1-.244.317c-.147.179-.265.318-.354.416a6.107 6.107 0 0 1-.437.416 2.789 2.789 0 0 1-.572.403c-.178.09-.398.175-.658.257a2.71 2.71 0 0 1-.802.122c-2.499 0-3.748-1.468-3.748-4.4zm15.187-7.04h1.387l.342 2.274c.875-1.696 1.816-2.542 2.822-2.542.762 0 1.427.178 1.995.536l-.56 1.344c-.486-.423-1.069-.635-1.751-.635-.26 0-.503.07-.73.208-.227.139-.434.35-.621.637-.187.284-.336.525-.45.72a7.26 7.26 0 0 0-.391.819c-.145.35-.227.534-.242.55v7.26h-1.581v-8.678c0-.327-.013-.648-.038-.967a15.237 15.237 0 0 0-.096-.915l-.086-.611M277.217 62.386h1.777V46.57h-1.777zM286.221 51.215h1.387l.342 1.661.194-.268c.145-.162.254-.277.329-.343.072-.064.19-.182.352-.354.162-.171.312-.297.45-.379.138-.082.309-.175.51-.28.204-.107.414-.185.634-.232.22-.05.45-.073.694-.073 1.394 0 2.38.38 2.958 1.147.575.766.862 1.851.862 3.252v7.04h-1.581v-6.942a7.63 7.63 0 0 0-.086-1.247 3.512 3.512 0 0 0-.328-1.003 1.641 1.641 0 0 0-.754-.745c-.341-.171-.772-.257-1.29-.257-.665 0-1.254.245-1.764.733a4.404 4.404 0 0 0-1.108 1.638v7.823h-1.581v-8.8c0-.358-.033-.812-.098-1.357l-.122-1.014m14.433 1.246v-1.247h1.68v-2.86h1.581v2.86h2.557v1.247h-2.557v7.236c0 .831.24 1.451.718 1.858.479.407 1.238.684 2.277.832l-.512 1.442c-1.331-.26-2.341-.75-3.03-1.466-.69-.719-1.034-1.614-1.034-2.69V52.46h-1.68zm12.29 3.643h6.11c-.032-1.335-.3-2.322-.804-2.958-.503-.635-1.273-.954-2.311-.954-.875 0-1.578.335-2.106 1.003-.527.667-.823 1.638-.888 2.909m-1.68.806c0-.7.078-1.38.232-2.04.155-.661.396-1.296.73-1.909.333-.61.816-1.1 1.448-1.466.633-.367 1.38-.549 2.238-.549 1.738 0 2.958.555 3.665 1.662.706 1.108 1.058 2.69 1.058 4.743h-7.666c.08 2.721 1.158 4.082 3.236 4.082 1.12 0 2.271-.317 3.457-.954l.487 1.32c-1.202.571-2.58.856-4.139.856-1.59 0-2.778-.538-3.564-1.612-.788-1.076-1.182-2.453-1.182-4.133m17.379-1.784c0 .897.243 1.609.73 2.14.486.528 1.2.793 2.142.793.957 0 1.664-.292 2.118-.88.454-.587.68-1.294.68-2.126 0-.914-.24-1.618-.717-2.115-.479-.497-1.18-.745-2.106-.745-.924 0-1.63.272-2.117.817-.487.548-.73 1.252-.73 2.116m-.561 8.997c0 .585.301 1.047.9 1.38.601.334 1.486.502 2.653.502 2.305 0 3.458-.653 3.458-1.955 0-.489-.387-.86-1.157-1.112-.77-.254-2.13-.471-4.077-.65-.552.132-.985.38-1.301.746-.316.367-.476.73-.476 1.089m-1.654.024c0-.571.236-1.067.706-1.492.47-.423.964-.7 1.483-.83-.99-.425-1.483-1.052-1.483-1.882 0-.587.356-1.191 1.071-1.811-.811-.929-1.218-1.946-1.218-3.055 0-.374.065-.773.196-1.198.129-.424.349-.869.657-1.332.307-.465.774-.848 1.398-1.149.625-.3 1.36-.452 2.205-.452.695 0 1.313.098 1.848.294 2.11-.18 3.254-.27 3.432-.27l-.486 1.223h-1.582c.341.276.645.672.912 1.186.268.512.403 1.063.403 1.649 0 1.174-.374 2.18-1.12 3.02-.747.839-1.867 1.258-3.36 1.258-.325 0-.737-.053-1.242-.158-.503-.106-.868-.225-1.095-.354-.049.064-.105.137-.17.219-.064.082-.117.146-.157.195-.041.049-.087.111-.134.184a.647.647 0 0 0-.098.219 1.082 1.082 0 0 0-.026.233c0 .212.075.387.22.526.147.138.47.273.973.403.505.131 1.21.237 2.12.319 1.897.162 3.183.48 3.856.952.674.472 1.01 1.14 1.01 2.006 0 1.041-.487 1.833-1.46 2.37-.973.537-2.19.807-3.652.807-1.864 0-3.2-.264-4.003-.795-.803-.529-1.204-1.291-1.204-2.285m16.259-12.932h1.387l.342 2.274c.875-1.696 1.815-2.542 2.821-2.542.763 0 1.428.178 1.996.536l-.56 1.344c-.486-.423-1.069-.635-1.752-.635-.26 0-.503.07-.73.208-.227.139-.434.35-.62.637a16.75 16.75 0 0 0-.45.72 7.26 7.26 0 0 0-.391.819c-.146.35-.227.534-.242.55v7.26h-1.581v-8.678c0-.327-.013-.648-.038-.967a15.236 15.236 0 0 0-.097-.915l-.085-.611m13.336 8.19c0 .62.224 1.108.67 1.466.445.359 1.066.538 1.862.538 1.33 0 2.278-.496 2.847-1.492v-3.128h-.754c-1.72 0-2.921.204-3.602.61-.681.41-1.023 1.077-1.023 2.005m-1.68.05c0-1.239.438-2.193 1.315-2.862.877-.668 2.426-1.001 4.649-1.001h1.071v-.856c0-1.694-.739-2.542-2.215-2.542-1.2 0-2.466.326-3.797.977l-.56-1.367c1.51-.571 2.97-.858 4.382-.858 1.184 0 2.114.303 2.786.905.673.604 1.01 1.5 1.01 2.69v4.425c0 .146.114 1.287.34 3.421h-1.41c0-.05-.066-.255-.194-.624-.131-.366-.204-.598-.22-.694-.309.44-.74.813-1.29 1.123-.551.31-1.16.465-1.826.465-1.2 0-2.174-.266-2.92-.795s-1.12-1.331-1.12-2.408m14.53-6.992v-1.247h1.68v-2.86h1.581v2.86h2.557v1.247h-2.557v7.236c0 .831.24 1.451.717 1.858.48.407 1.239.684 2.277.832l-.512 1.442c-1.33-.26-2.34-.75-3.028-1.466-.69-.719-1.035-1.614-1.035-2.69V52.46h-1.68zm11.22 9.925h1.582v-11.17h-1.581v11.17zM380 48.476h1.753V46.57h-1.753v1.906zm9.857 8.264c0 3.113 1.087 4.669 3.261 4.669 1.184 0 2.02-.403 2.508-1.211.486-.807.73-1.96.73-3.458 0-1.467-.244-2.592-.73-3.374-.487-.783-1.324-1.173-2.508-1.173-2.174 0-3.261 1.515-3.261 4.547m-1.656 0c0-1.711.39-3.106 1.17-4.18.778-1.077 2.027-1.615 3.747-1.615 3.261 0 4.892 1.932 4.892 5.795 0 1.776-.382 3.206-1.144 4.29-.763 1.084-2.012 1.626-3.748 1.626-1.736 0-2.99-.538-3.76-1.614-.77-1.076-1.157-2.51-1.157-4.302m16.09-5.525h1.386l.342 1.661.194-.268c.145-.162.254-.277.329-.343.072-.064.19-.182.352-.354.162-.171.312-.297.45-.379.138-.082.309-.175.51-.28.204-.107.415-.185.634-.232.22-.05.45-.073.694-.073 1.394 0 2.38.38 2.958 1.147.575.766.862 1.851.862 3.252v7.04h-1.581v-6.942a7.63 7.63 0 0 0-.086-1.247 3.512 3.512 0 0 0-.328-1.003 1.641 1.641 0 0 0-.754-.745c-.341-.171-.772-.257-1.29-.257-.665 0-1.254.245-1.764.733a4.404 4.404 0 0 0-1.108 1.638v7.823h-1.581v-8.8c0-.358-.033-.812-.098-1.357l-.122-1.014"/>
            <path fill="#1D1C1B" d="M103.592 28.945c.774 1.658 1.909 2.488 3.405 2.488 2.76 0 4.14-2.008 4.14-6.024 0-3.989-1.213-5.984-3.637-5.984-.852 0-1.567.297-2.148.893-.58.597-1.166 1.438-1.76 2.526v6.101zm-4.759 5.362c.31-2.41.465-4.222.465-5.438V8.775h4.37V18.88c1.368-1.889 2.915-2.836 4.645-2.836 2.5 0 4.346.874 5.531 2.623 1.186 1.75 1.78 3.972 1.78 6.666 0 2.694-.69 4.948-2.07 6.761-1.378 1.813-3.334 2.72-5.862 2.72-.98 0-1.824-.24-2.533-.72-.71-.477-1.245-1.002-1.605-1.573l-.697 1.787h-4.024zm19.848-6.567V16.55h4.372v11.383c0 .52.026.954.077 1.303.052.35.156.713.31 1.088.154.376.425.66.812.856.387.193.864.29 1.43.29 1.395 0 2.633-1.113 3.716-3.341v-11.58h4.372v13.989c0 .441.026.868.078 1.282.051.416.122.863.213 1.342.089.478.147.861.172 1.146h-4.022l-.697-2.331c-.053.05-.22.246-.503.582a9.307 9.307 0 0 1-.735.797c-.207.195-.483.426-.832.698a3.529 3.529 0 0 1-1.16.604c-.425.13-.87.193-1.335.193-2.295 0-3.915-.62-4.855-1.866-.943-1.242-1.413-2.99-1.413-5.245m18.57-11.191h4.024l.697 2.33c.05-.05.193-.213.425-.484.232-.272.425-.478.581-.622.154-.143.387-.343.695-.602.31-.26.601-.46.872-.602.27-.142.6-.274.986-.39a3.995 3.995 0 0 1 1.16-.174c2.424 0 4.095.615 5.01 1.846s1.375 2.986 1.375 5.265v11.191h-4.373V22.921c0-.543-.025-.983-.076-1.32a4.193 4.193 0 0 0-.33-1.069 1.727 1.727 0 0 0-.832-.855c-.387-.195-.89-.292-1.51-.292-1.495 0-2.785 1.114-3.867 3.343v11.58h-4.372v-13.99c0-.44-.026-.867-.078-1.282-.051-.414-.122-.86-.213-1.342-.09-.478-.149-.86-.174-1.145m17.72 3.38v-3.42h2.941v-4.741h4.371v4.742h4.14v3.42h-4.14v10.065c0 1.19.4 2.112 1.199 2.76.8.647 2 1.165 3.598 1.553l-1.16 3.77c-2.322-.596-4.236-1.614-5.745-3.051-1.509-1.437-2.263-3.232-2.263-5.382v-9.716h-2.941zm23.135 7.811V16.55h4.373v11.383c0 .52.025.954.076 1.303.053.35.156.713.31 1.088.155.376.425.66.812.856.387.193.864.29 1.43.29 1.395 0 2.634-1.113 3.716-3.341v-11.58h4.372v13.989c0 .441.026.868.079 1.282.05.416.121.863.212 1.342.089.478.147.861.172 1.146h-4.021l-.698-2.331c-.052.05-.22.246-.503.582a9.307 9.307 0 0 1-.735.797c-.207.195-.483.426-.832.698a3.529 3.529 0 0 1-1.16.604c-.425.13-.87.193-1.335.193-2.295 0-3.914-.62-4.855-1.866-.942-1.242-1.413-2.99-1.413-5.245m18.57-11.191h4.024l.698 2.33c.05-.05.192-.213.424-.484.233-.272.425-.478.582-.622.154-.143.386-.343.695-.602.31-.26.601-.46.872-.602.27-.142.599-.274.986-.39a3.995 3.995 0 0 1 1.16-.174c2.424 0 4.094.615 5.01 1.846.915 1.231 1.374 2.986 1.374 5.265v11.191h-4.372V22.921c0-.543-.026-.983-.077-1.32a4.193 4.193 0 0 0-.33-1.069 1.727 1.727 0 0 0-.832-.855c-.386-.195-.89-.292-1.509-.292-1.496 0-2.785 1.114-3.867 3.343v11.58h-4.373v-13.99c0-.44-.025-.867-.078-1.282-.05-.414-.121-.86-.212-1.342-.091-.478-.15-.86-.174-1.145m23.368 8.86c0 2.254.336 3.822 1.006 4.702.67.882 1.716 1.322 3.134 1.322 1.496 0 2.631-.83 3.405-2.488v-6.1c-.594-1.09-1.18-1.93-1.76-2.527-.581-.596-1.296-.893-2.148-.893-2.426 0-3.637 1.993-3.637 5.984m-4.489-.077c0-2.668.621-4.884 1.858-6.646 1.238-1.762 3.056-2.643 5.456-2.643 1.727 0 3.274.947 4.642 2.836V8.775h4.372v20.092c0 1.218.154 3.03.465 5.44h-4.024l-.697-1.787c-.362.57-.895 1.096-1.605 1.574-.71.48-1.555.718-2.535.718-2.76 0-4.77-.879-6.034-2.64-1.266-1.762-1.898-4.042-1.898-6.84M243.955 16.549h4.681l4.449 12.59 4.296-12.59h4.565l-6.849 17.758h-4.294zM267.982 23.97h7.931c-.18-3.03-1.574-4.546-4.178-4.546-.928 0-1.767.344-2.515 1.03-.748.686-1.16 1.859-1.238 3.516m-4.605 1.633c0-1.113.136-2.196.407-3.245a11.09 11.09 0 0 1 1.316-3.051c.605-.983 1.482-1.773 2.631-2.37 1.148-.596 2.495-.895 4.042-.895 3.018 0 5.166.896 6.442 2.683 1.277 1.788 1.914 4.585 1.914 8.393h-12.147c.18 1.425.632 2.52 1.354 3.283.723.766 1.689 1.147 2.902 1.147 1.676 0 3.52-.505 5.533-1.515l1.43 3.381c-2.037.932-4.461 1.4-7.274 1.4-2.734 0-4.842-.882-6.324-2.644-1.484-1.761-2.226-3.95-2.226-6.567m19.423-9.054h4.023l.698 3.031c.437-.777 1.076-1.567 1.913-2.371.84-.802 1.671-1.204 2.497-1.204 1.16 0 2.283.285 3.365.854l-1.51 3.615c-.952-.726-1.804-1.09-2.552-1.09-.23 0-.452.034-.657.098a1.655 1.655 0 0 0-.581.331c-.18.155-.35.305-.502.447-.156.143-.31.338-.464.582-.157.248-.286.449-.387.604-.104.155-.22.383-.349.68-.129.297-.22.498-.272.602a9.21 9.21 0 0 0-.23.543l-.155.427v10.61h-4.373V20.511c0-.518-.025-1.023-.078-1.516-.05-.49-.121-.99-.212-1.495-.09-.505-.149-.823-.174-.952m18.688 12.396c.773 1.658 1.908 2.488 3.404 2.488 2.76 0 4.14-2.008 4.14-6.024 0-3.989-1.213-5.984-3.637-5.984-.851 0-1.567.297-2.148.893-.579.597-1.166 1.438-1.76 2.526v6.101zm-4.76 5.362c.311-2.41.465-4.222.465-5.438V8.775h4.371V18.88c1.367-1.889 2.914-2.836 4.645-2.836 2.5 0 4.345.874 5.53 2.623 1.186 1.75 1.78 3.972 1.78 6.666 0 2.694-.69 4.948-2.07 6.761-1.378 1.813-3.334 2.72-5.861 2.72-.98 0-1.825-.24-2.533-.72-.71-.477-1.246-1.002-1.605-1.573l-.698 1.787h-4.023zm19.886 0h4.372V16.548h-4.372v17.759zm-.116-21.333h4.604V9.165h-4.604v3.809zm8.008 3.575h4.024l.697 2.33c.051-.05.193-.213.425-.484.232-.272.425-.478.581-.622.154-.143.387-.343.696-.602.31-.26.6-.46.871-.602.27-.142.6-.274.986-.39a3.995 3.995 0 0 1 1.16-.174c2.424 0 4.095.615 5.01 1.846s1.375 2.986 1.375 5.265v11.191h-4.373V22.921c0-.543-.025-.983-.076-1.32a4.193 4.193 0 0 0-.33-1.069 1.727 1.727 0 0 0-.832-.855c-.387-.195-.89-.292-1.509-.292-1.496 0-2.785 1.114-3.868 3.343v11.58h-4.372v-13.99c0-.44-.025-.867-.078-1.282-.051-.414-.122-.86-.213-1.342-.09-.478-.148-.86-.174-1.145m23.369 8.86c0 2.254.335 3.822 1.006 4.702.67.882 1.715 1.322 3.134 1.322 1.496 0 2.63-.83 3.404-2.488v-6.1c-.594-1.09-1.18-1.93-1.76-2.527-.58-.596-1.296-.893-2.147-.893-2.426 0-3.637 1.993-3.637 5.984m-4.49-.077c0-2.668.622-4.884 1.858-6.646 1.239-1.762 3.056-2.643 5.457-2.643 1.727 0 3.274.947 4.641 2.836V8.775h4.373v20.092c0 1.218.154 3.03.464 5.44h-4.023l-.698-1.787c-.361.57-.895 1.096-1.605 1.574-.71.48-1.554.718-2.535.718-2.76 0-4.77-.879-6.034-2.64-1.265-1.762-1.897-4.042-1.897-6.84M363.659 34.309h4.372V8.777h-4.372zM372.017 34.307h4.373V16.548h-4.373v17.759zm-.116-21.333h4.605V9.165H371.9v3.809zm7.582 12.59c0-2.954.748-5.28 2.245-6.975 1.496-1.697 3.7-2.546 6.615-2.546.75 0 1.754.136 3.02.408 1.261.272 2.242.55 2.939.835l-1.509 3.615c-1.961-.985-3.457-1.477-4.489-1.477-1.496 0-2.59.467-3.288 1.399-.695.934-1.044 2.513-1.044 4.742 0 3.912 1.43 5.867 4.294 5.867 1.211 0 2.773-.49 4.681-1.476l1.51 3.613c-.645.312-1.659.597-3.039.856-1.38.259-2.442.388-3.192.388-2.81 0-4.97-.842-6.478-2.526-1.51-1.683-2.265-3.925-2.265-6.722m17.681 8.743V8.776h4.373V18.88c1.418-1.917 2.952-2.876 4.603-2.876 2.424 0 4.094.616 5.011 1.848.915 1.229 1.373 2.985 1.373 5.263v11.193h-4.372V22.922c0-.546-.026-.985-.077-1.32a4.258 4.258 0 0 0-.328-1.07 1.727 1.727 0 0 0-.832-.855c-.389-.195-.892-.292-1.509-.292-1.445 0-2.735 1.115-3.87 3.342v11.58h-4.372z" mask="url(#buv-b)"/>
            <path fill="#7397CE" d="M65.629.128c2.344.128 4.14 2.138 4.014 4.492-.127 2.353-2.128 4.159-4.472 4.033-2.344-.128-4.14-2.138-4.015-4.492C61.283 1.806 63.284 0 65.63.128" mask="url(#buv-b)"/>
            <path fill="#1D70B7" mask="url(#buv-b)" d="M69.115 16.557l-15.848.019L53.251.657z"/>
            <path fill="#7397CE" mask="url(#buv-b)" d="M53.9 18.372l15.846-.018-6.377 17.18zM34.341 6.445L51.431 0l.018 15.918z"/>
            <path fill="#EB5C3F" d="M52.855 68.082a4.237 4.237 0 0 1-5.89 1.198 4.279 4.279 0 0 1-1.194-5.915 4.238 4.238 0 0 1 5.89-1.2 4.281 4.281 0 0 1 1.194 5.917" mask="url(#buv-b)"/>
            <path fill="#B70E0C" mask="url(#buv-b)" d="M36.988 62.772l8.018-13.73 13.669 8.054z"/>
            <path fill="#EB5C3F" mask="url(#buv-b)" d="M43.143 48.678l-8.018 13.73-11.511-14.231zM63.294 37.79l-3.132 18.065-13.669-8.054z"/>
            <path fill="#F9B233" d="M1.902 16.903A4.28 4.28 0 0 0 .709 22.82a4.237 4.237 0 0 0 5.888 1.198 4.28 4.28 0 0 0 1.195-5.916 4.24 4.24 0 0 0-5.89-1.199" mask="url(#buv-b)"/>
            <path fill="#F29200" mask="url(#buv-b)" d="M12.839 11.057l8.019 13.73-13.669 8.054z"/>
            <path fill="#F9B233" mask="url(#buv-b)" d="M21.719 46.273L7.55 34.71l13.669-8.052zM22.093 23.294l-8.019-13.73L32.06 6.418z"/>
          </g>
        </svg>
      </a>

      <div class="c-search-bar u-mt u-fr">
        <ul class="c-search-bar__social-media c-social-media">
          <li>
            <a class="c-social-media__button" href="https://www.facebook.com/Buntundverbindlichde-895164520594209/" title="<%= t('.facebook_title') %>">
              <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fillRule="evenodd" clipRule="evenodd" strokeLinejoin="round" strokeMiterlimit="1.414">
                <path d="M15.117 0H.883C.395 0 0 .395 0 .883v14.234c0 .488.395.883.883.883h7.663V9.804H6.46V7.39h2.086V5.607c0-2.066 1.262-3.19 3.106-3.19.883 0 1.642.064 1.863.094v2.16h-1.28c-1 0-1.195.476-1.195 1.176v1.54h2.39l-.31 2.416h-2.08V16h4.077c.488 0 .883-.395.883-.883V.883C16 .395 15.605 0 15.117 0" fillRule="nonzero"/>
              </svg>
            </a>
          </li><!--
          --><li>
            <a class="c-social-media__button" href="https://twitter.com/buntverbindlich" title="<%= t('.twitter_title') %>">
              <svg width="16" height="16" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" fillRule="evenodd" clipRule="evenodd" strokeLinejoin="round" strokeMiterlimit="1.414">
                <path d="M16 3.038c-.59.26-1.22.437-1.885.517.677-.407 1.198-1.05 1.443-1.816-.634.375-1.337.648-2.085.795-.598-.638-1.45-1.036-2.396-1.036-1.812 0-3.282 1.468-3.282 3.28 0 .258.03.51.085.75C5.152 5.39 2.733 4.084 1.114 2.1.83 2.583.67 3.147.67 3.75c0 1.14.58 2.143 1.46 2.732-.538-.017-1.045-.165-1.487-.41v.04c0 1.59 1.13 2.918 2.633 3.22-.276.074-.566.114-.865.114-.21 0-.416-.02-.617-.058.418 1.304 1.63 2.253 3.067 2.28-1.124.88-2.54 1.404-4.077 1.404-.265 0-.526-.015-.783-.045 1.453.93 3.178 1.474 5.032 1.474 6.038 0 9.34-5 9.34-9.338 0-.143-.004-.284-.01-.425.64-.463 1.198-1.04 1.638-1.7z" fillRule="nonzero"/>
              </svg>
            </a>
          </li>
        </ul>

        <form class="c-search-bar__form" action="<%= pledges_path(locale: I18n.locale) %>" method="GET">
          <input class="c-search-bar__input" name="query" type="search" placeholder="<%= t('.search_placeholder') %>" />
          <button class="o-btn c-search-bar__submit" type="submit">
            <svg width="18" height="18" viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg">
              <title><%= t('.search_title') %></title>
              <path d="M1216 832q0-185-131.5-316.5t-316.5-131.5-316.5 131.5-131.5 316.5 131.5 316.5 316.5 131.5 316.5-131.5 131.5-316.5zm512 832q0 52-38 90t-90 38q-54 0-90-38l-343-342q-179 124-399 124-143 0-273.5-55.5t-225-150-150-225-55.5-273.5 55.5-273.5 150-225 225-150 273.5-55.5 273.5 55.5 225 150 150 225 55.5 273.5q0 220-124 399l343 343q37 37 37 90z" />
            </svg>
          </button>
        </form>
      </div>

      </div>

      <nav class="c-primary-nav">
        <ul class="o-list-inline">
          <li class="c-primary-nav__item c-primary-nav__item--active">
            <span><%= t('.start_link') %></span>
          </li><!--
          --><li class="c-primary-nav__item">
            <%= link_to t('.new_pledge_link'), new_pledge_path(locale: I18n.locale),
              class: 'c-primary-nav__link' %>
          </li><!--
          --><li class="c-primary-nav__item">
            <%= link_to t('.howitworks_link'), howitworks_path(locale: I18n.locale),
              class: 'c-primary-nav__link' %>
          </li><!--
          --><li class="c-primary-nav__item">
            <%= link_to t('.about_link'), howitworks_path(locale: I18n.locale),
              class: 'c-primary-nav__link' %>
          </li><!--
          --><li class="c-primary-nav__item">
            <%= link_to t('.press_link'), howitworks_path(locale: I18n.locale),
              class: 'c-primary-nav__link' %>
          </li><!--
          --><li class="c-primary-nav__item">
            <%= link_to t('.blog_link'), 'https://blog.buntundverbindlich.de/',
              class: 'c-primary-nav__link' %>
          </li>
        </ul>
      </nav>
    </div>
  </header>
